@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}
.gradient-text {
  background: 
  linear-gradient(
                    to right,
                    #1e40af,  /* Blue */
                    #059669,  /* Green */
                    #65a30d   /* Lime green */
                 );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    font-weight: bold;

}
.common-image {
  width: var(--img-width);
  height: var(--img-height);
  border-radius: var(--img-radius);
  box-shadow: var(--img-shadow);
  object-fit: cover;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
